.controls {
	display: flex;
	justify-content: space-around;
}

legend {
	font-size: 1.2rem;
}

fieldset {
	border: none;
}

.algorithm-controls > div {
	display: flex;
	gap: 10px;
}

.delay-controls {
	display: grid;
}
